1. In python there are two types of comments single line and double line. We can create single line comment using # and for multiline comment we have to use """ triple qoutes""".

In [1]:
#this is a single line comment
""" THis 
is 
a 
multiline comment """

' THis \nis \na \nmultiline comment '

2. Variable is the name give to the data objcet. We can simply declar and assign the variabl in one line using = operator

In [2]:
a=2
#here a is the variable and 2 was assigned to it

3. If the two datatypes are convertable we can simply use the line datatype(variable_name) where datatype is the target datatype.

In [3]:
a='123'
b=int(a)
type(b)

int

4. In command line type python and hit enter , now >>> will appear which means now you can type and run python lines directly , you can also excute saved python files by navigating to the file loction

In [4]:
#5
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

6. Complex number are those number which have an imaginary part along with real part. ex- 3 + 4i where 3 is real part and 4 is immaginary part and i is squaroot of -1. In python we can create imaginaroy number by using j instead of i.

In [5]:
com = 3+4j
type(com)

complex

In [6]:
#7
age=25

In [7]:
#8
price= 9.99
# the type of price is float

In [8]:
name='Aksay Thammana'
#we can use print() to print the name
print(name)

Aksay Thammana

In [9]:
st = "Hello,World"
st[6:]

'World'

In [10]:
is_stundent= True