In [1]:
st= 'Akshay'

In [2]:
ls =[1,2,3,'Hi']

In [4]:
f = 3.54

In [6]:
tp = (1,2,34,55)

var1 is a string and var2 is also a string and var3 is a list and var 4 is a float

/ is a division operator which we use for divison 

% is to get the remainder ex- 5%2 gives 1

// is to get the quotient ex - 5//2 gives 2

** is to the get Exponentiation ex - 5\**2 25

In [20]:
ls1=[1,1.1,2 +1j,'str',False,True,23,454,'2323',34.343]
for i in ls1:
  print(i)
  print(type(i))

1
<class 'int'>
1.1
<class 'float'>
(2+1j)
<class 'complex'>
str
<class 'str'>
False
<class 'bool'>
True
<class 'bool'>
23
<class 'int'>
454
<class 'int'>
2323
<class 'str'>
34.343
<class 'float'>

In [24]:
a = int(input('first number '))
b = int(input('second number '))
i=0
c=a
while(a%b==0) :
  i+=1
  a=a/b
if i==0 :
  print(a , 'is not divisible by ' , b)
else :
  print(c , 'is divisble by',b, i ,'times')

first number 64
second number 2
64 is divisble by 2 6 times

In [26]:
ls=range(1,26)

In [29]:
for i in ls :
  if ( i % 3 == 0):
    print( i, 'is divisble by 3')
  else :
    print( i, 'is not divisble by 3')

1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3
25 is not divisble by 3

Mutable object are those object which we can edit are creating it, example if we create a list ls = [1,2,3] we can edit by ls[2] = 4 where as Immutable object are those which we cannot edit after creating example string example st= 'Nice' , we cannnot write st[2]= 'k' ,it will pop an error